@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

:root.light {
	background-color: theme("colors.white");
}

:root.dark {
	background-color: theme("colors.gray.900");
	color: theme("colors.white");
}
