name: Deploy demo-app to Github-Pages

on:
  push:
    branches:
      - master

jobs:
  build:
    name: Build and deploy demo-app
    runs-on: ubuntu-latest

    env:
      NEXT_PUBLIC_BASE_PATH: /tailwind-datepicker-react

    strategy:
      matrix:
        node-version: [16.x]

    steps:
      - name: Get files
        uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      - name: Change directory to demo-app
        run: cd demo-app
      - name: Install packages
        run: npm ci
      - name: Build project
        run: npm run build
      - name: Export static files
        run: npm run export
      - name: Add .nojekyll file
        run: touch ./out/.nojekyll
      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@4.1.1
        with:
          branch: gh-pages
          folder: out
